body, header{
	background-color: #FDFCF9;
}
iframe{
	height: 450px;
	width: 100%;
}
a, a:hover{
	text-decoration: none !important;
}
header > .container{
	padding-bottom: 50px;
}
.nav-item.dropdown.show{
	opacity: 1 !important;
}
.dropdown-item:focus{
	background-color: transparent !important;
}
.select2{
	margin-top: 15px;
	border-radius: 10px;
	border: none !important;
	font-size: 14px;
	border-color: none;
	outline: none !important;
	border-radius: 10px;
}
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single{
	border: none;
	padding: 0;
	font-size: 14px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	padding: 0 16px !important;
}
.select2-container--default .select2-selection--single{
	border: 1.6px solid rgba(89, 96, 102, 0.3) !important;
	height: 42px !important;
	padding: 6px 8px !important;
	border-radius: 10px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	margin-top: 6px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
.uneditable-input:focus {   
  border-color: rgba(0, 146, 63, 1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 146, 63, 1);
  outline: 0 none;
}
.form-control{
	font-size: 16px !important;
	border-radius: 10px;
}
.form-control::placeholder{
	font-size: 14px !important;
	color: #D5D5D5;
}
textarea{
	resize: none;
}
.no-margin{
	margin: 0;
}
.no-padding{
	padding: 0;
}
.modal-close{
	font-size: 36px;
	margin-right: 15px;
	margin-top: -10px;
	outline: none !important;
}
#modalLogin input, #modalRegister input, #modalForgot input{
	background-color: #FAFAFA;
	border: 1px solid #EDEDED;
}
#modalLogin .switch-modal, #modalRegister .switch-modal, #modalForgot .switch-modal{
	color: #00923F;
	font-weight: bold;
	text-decoration: none;
}
#modalLogin button[type="submit"], #modalRegister button[type="submit"], #modalForgot button[type="submit"]{
	margin-top: 24px;
	width: 210px;
	font-size: 14px;
	background-color: #00923F;
	border-radius: 10px;
	margin-bottom: 24px;
}
.hy-login{
	color: #979797;
	font-size: 14px;
	text-shadow: 0 3px 20px rgb(0, 0, 0, 0.16);
}
.name-user{
	color: #3B3B3B;
	font-size: 14px;
	text-shadow: 0 3px 20px rgb(0, 0, 0, 0.16);
	font-weight: bold;
}
.img-user{
	width: 45px !important;
	height: 45px !important;
	border-radius: 50% !important;
}
.box-user-image{
	padding: 0;
}
.box-user-image a{
	color: #3B3B3B;
}
.box-user-image i{
	margin-top: 15px;
	color: #3B3B3B;
}
.label-modal{
	font-size: 26px;
	color: #848484;
	font-weight: bold;
	margin-bottom: 36px;
	margin-top: 10px;
	text-align: center;
}
.action-modal{
	color: #848484;
	font-size: 14px;
	margin-bottom: 5px;
}
.form-modal{
	background-color: #FFFFFF;
}
.modal-content{
	border-radius: 12px;
}
.img-header{
	width: 50px;
	height: 50px;
	margin: 0 10px;
}
.title-header > h4, .title-header > h5{
	color: #3B3B3B;
}
.title-header > h4{
	font-size: 18px;
	margin: 4px 0;
}
.title-header > h5{
	font-size: 14px;
	margin: 4px 0;
}
#btnLogin, #btnRegistrasi{
	min-width: 110px;
	margin: 0 10px;
	border: 1.6px solid #00923F;
	height: 36px;
	font-size: 14px;
	border-radius: 10px;
	font-weight: bold;
}
#btnRegistrasi{
	color: #00923F;
	background-color: #FFFFFF;
}
#btnLogin{
	background-color:#00923F;
	color: #FFFFFF;
}
#navigation{
	/*background-color: transparent !important;*/
	padding-bottom: 0;
	margin-top: 70px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 0 4px 2px -2px #CCCCCC;
	background-color: #fdfcf9 !important;
	transition: margin 700ms;
}
#navigation *{
	font-size: 14px;
	color: #3B3B3B;
}
.navbar-brand{
	padding-bottom: 15px;
}
.nav-item{
	padding-bottom: 6px;
}
.nav-item:hover{
	opacity: 0.8;
}
.nav-item.active{
	border-bottom: 2px solid #00923F;
}
#content{
	margin: 20px auto;
}
footer{
	padding-bottom: 15px;
}
footer p{
	margin: 0;
	font-size: 14px;
	color: #3B3B3B;
}
footer textarea{
	resize: none;
}
#footerBox > div{
	padding: 0;
}
.footer-content, .footer-title{
	padding-left: 32px;
	padding-right: 32px;
}
#footerBox, #content, #hasilPencarian, #listForum{
	border: 0.5 solid #f0f0f0;
	padding-top: 24px;
	padding-bottom: 24px;
	border-radius: 12px;
	box-shadow: 0 3px 20px 5px #E0E0E0;
	margin-bottom: 20px;
}
#footerBox{
	padding: 24px 0 !important;
}
.footer-title{
	font-size: 20px;
	color: #3B3B3B;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-border{
	border-right: 2px solid rgba(132, 132, 132, 0.2)
}
#mapsFooter{
	height: 250px;
	margin-bottom: 20px;
	margin-left: -85px;
	border-radius: 12px;
	box-shadow: 0 3px 20px 5px #CCCCCC;
}
#footerCopyRight{
	text-align: center;
	font-size: 14px;
	color: #00923F;
}
#btnFooter{
	font-size: 14px;
	width: 110px;
	background-color: #00923F;
	border-radius: 10px;
}
footer .form-group > label{
	font-size: 14px;
	font-weight: 500;
	color: #00923F;
	margin: 0;
}
footer input, footer textarea{
	border-radius: 10px !important;
	font-size: 12px !important;
}
.news-mini{
	color: #3B3B3B;
}
.news-mini .media-body{
	height: 75px;
	position: relative;
}
.news-mini *{
	cursor: pointer;
	text-decoration: none;
}
.news-mini *:hover{
	opacity: 0.95;
	color: #00923F;
	text-decoration: none !important;
}
.news-mini label{
	font-size: 16px;
	font-weight: bold;
	margin-top: 0;
	line-height: 1.25;
}
.news-mini p{
	margin-bottom: 0;
	font-size: 12px;
	opacity: 0.9;
	position: absolute;
	bottom: 0;
}
#slider{
	padding: 0;
}
#slider .swiper-container{
	margin-top: 20px;
	border-radius: 12px;
	margin-left: -4%;
	box-shadow: 0 3px 20px 5px #CCCCCC;
	position: relative;
}

#slider .swiper-container .swiper-slide{
	position: relative;
	height: 500px;
	width: 100%;
}
#slider .swiper-container .swiper-slide img{
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-filter: brightness(3);
	filter: brightness(70%);
}
.swiper-slide h1, .swiper-slide p{
	text-shadow: -1px 0 #AAAAAA, 0 1px #AAAAAA, 1px 0 #AAAAAA, 0 -1px #AAAAAA;
}
#slider .swiper-pagination{
	text-align: right;
	padding: 20px 60px;
	z-index: 2;
}
#slider .swiper-pagination > span{
	background-color: #FFFFFF !important;
}
#slider .swiper-container h1{
	position: absolute;
	font-size: 58px;
	color: #FFFFFF;
	bottom: 82px;
	left: 76px;
	right: 76px;
	z-index: 3;
}
#slider .swiper-container p{
	position: absolute;
	font-size: 14px;
	color: #FFFFFF;
	bottom: 20px;
	left: 76px;
	right: 76px;
	z-index: 3;
}
#slider .swiper-container span{
	margin-left: 5px;
	margin-right: 5px;
	background-color: #FFFFFF !important;
	opacity: 1 !important;
}
#slider .swiper-container span.swiper-pagination-bullet-active{
	background-color: #00923F !important;
	opacity: 0.8;
}
#sliderPrev, #sliderNext{
	cursor: pointer;
	position: absolute;
	color: #FFFFFF;
	bottom: 32px;
	z-index: 3;
}
#sliderNext{
	right: 30px;
}
#info{
	padding-top: 68px;
	padding-bottom: 20px;
}
#info img{
	padding-left: 8px;
	padding-right: 8px;
	margin: 10px 0;
	border-radius: 12px;
}
#news{
	padding-top: 22px;
	border-right: 1px solid #CCCCCC;
}
#news .label h4{
	font-size: 20px;
	color: #3B3B3B;
}
#news .label h4, #news .label p{
	margin-bottom: 0;
}
#news .label a{
	font-size: 14px;
	color: #3B3B3B;
	opacity: 0.5;
}
#news .label a:hover{
	color: #00923F;
}
.list-news{
	padding-left: 12px;
	padding-right: 12px;
	position: relative;
	margin-top: 15px;
}
.list-news .thumbnail{
	height: 260px;
	width: 100%;
	margin: 0;
	cursor: pointer;
}
.list-news img{
	filter: brightness(0.7);
	border-radius: 6px;
}
.list-news p{
	position: absolute;
	font-size: 22px;
	color: #FFFFFF;
	bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 1;
}
.list-news-big p{
	padding-left: 30px;
	padding-right: 30px;
}
#galeryMushaf{
	height: 560px;
}
#galeryMushaf h4.label{
	font-size: 20px; 
	color: #3B3B3B;
	padding-left: 65px;
}
#galeryMushaf h4.label > a{
	color: #3B3B3B;
	font-size: 14px !important;
	text-decoration: none;
	opacity: 0.8;
	margin-top: 5px;
}
#galeryMushaf h4.label > a:hover{
	text-decoration: none;
	color: #00923F;
	opacity: 1;
}
#galleryMushafPrev, #galleryMushafNext{
	cursor: pointer;
}
#swipperMushaf{
	margin-left: -65px;
}
#swipperMushaf .swiper-wrapper , #swipperMushaf .swiper-wrapper .swiper-slide{
	background-color: transparent !important;
}
.mushaf-banner{
	position: relative;
	color: #FFFFFF;
	cursor: pointer;
	height: 510px !important;
	width: 100% !important;
	margin: 0 !important;
}
.mushaf-banner img{
	width: 95% !important;
	border-radius: 12px;
	box-shadow: 0 3px 20px 5px #CCCCCC;
}
.mushaf-banner .content-gallery-mushaf{
	position: absolute;
	bottom: 0;
	padding: 30px 30px 35px 30px;
	background: linear-gradient(rgba(0,0,0,0.01), rgba(0,0,0,1));
	width: 96%;
	margin-left: 1.5%;
	border-radius: 12px;
	margin: 0;
}
.mushaf-banner .content-gallery-mushaf > h1{
	font-size: 32px !important;
	color: #FFFFFF;
}
.mushaf-banner .content-gallery-mushaf > p, .mushaf-banner .content-gallery-mushaf > content {
	font-size: 14px;
	text-shadow: 0 3px 20px rgb(0, 0, 0, 0.16);
}
.mushaf-banner .content-gallery-mushaf > p > span{
	margin-left: 20px;
	margin-right: 20px;
}
.mushaf-list a{
	text-decoration: none;
	color: #FFFFFF;
}
.list-gallery{
	width: 100% !important;
}
.list-gallery > img{
	width: 95% !important;
}
.list-gallery, .list-gallery > img{
	border-radius: 12px !important;
	position: relative;
	height: 160px !important;
	margin-bottom: 15px !important;
}
.list-gallery label{
	position: absolute;
	bottom: -10px;
	padding: 10px 20px 20px 10px;
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
	background: linear-gradient(rgba(0,0,0,0.01), rgba(0,0,0,1));
	margin-left: 2.5%;
	border-radius: 12px;
	color: #FFFFFF;
}
#paginationGallery{
	position: absolute;
	right: 10%;
	top: -5px;
}
#paginationGallery .swiper-pagination-bullet{
	margin: 0 5px !important;
}
#paginationGallery span.swiper-pagination-bullet-active{
	background-color: #00923F !important;
}
#newsDetail{
	padding-top: 20px;
	padding-bottom: 20px;
}
#newsDetail #content{
	padding: 0 0 30px !important;
}
.content-breadcrumb{
	font-size: 16px;
	font-weight: bold;
	color: #3B3B3B;
	/*padding-top: 20px;*/
}
.content-breadcrumb > p{
	margin-bottom: 0;
}
#newsDetail #content > h1{
	font-size: 38px;
	color: #3B3B3B;
	padding: 36px 60px 0;
	font-weight: bold;
}
#newsDetail #content > p, .info-news{
	font-size: 14px;
	color: #848484;
	text-shadow: 0 3px 20px rgb(0, 0, 0, 0.16);
	padding: 0 60px 15px;
}
#newsDetail #content > p > span, .info-news > span{
	margin-left: 20px;
	margin-right: 20px;
}
#imgNews{
	width: 100%;
	height: 450px;
	margin-left: -60px;
}
#newsDetail content > p{
	font-size: 16px;
	color: #848484 !important;
	padding: 0 60px;
}
#newsDetail .relation label.title{
	font-size: 20px;
	color: #3B3B3B;
	font-weight: bold;
	padding-top: 36px;
	margin-bottom: 10px;
}
#newsDetail .relation hr{
	margin-left: -15px;
	border: 1px solid #DCDCDC;
	border-radius: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.relation label{
	font-size: 16px;
	color: #3B3B3B;
	font-weight: bold;
}
.relation p{
	font-size: 12px;
	color: #848484;
	text-shadow: 0 3px 20px rgb(0, 0, 0, 0.16);
	margin-bottom: 0;
}
.relation p > span{
	margin-left: 10px; 
	margin-right: 10px;
}
.tashih{
	padding: 24px 32px;
}
.tashih-title{
	font-weight: bold;
	font-size: 20px;
	color: #3B3B3B;
	margin: 0;
}
.tashih-label{
	font-size: 16px;
	color: #3B3B3B;
	margin: 12px 0;
}
.form-tashih-label{
	font-size: 12px;
	color: #00923F;
}
#submitTashih{
	width: 110px;
	font-size: 14px;
	background-color: #00923F;
	border-radius: 10px;
	margin-top: 28px;
	height: 42px;
}
label.tashih-pencarian{
	font-size: 16px;
	color: #00923F;
	font-weight: 500;
}
p.tashih-detail{
	font-size: 16px;
	color: #3B3B3B;
}
p.tashih-detail > img{
	border-radius: 10px;
}
.tashih-label.label-pencarian{
	margin-bottom: 20px;
}
.hr-pencarian{
	border: 1px solid #DCDCDC;
	border-radius: 1px;
	margin: 10px auto;
}
.master{
	margin-top: 32px;
	margin-bottom: 32px;
}
.master .content-breadcrumb{
	padding-bottom: 20px;
}
.master #content{
	margin: 0 !important;
}
#Forum > div{
	padding: 0 32px;
	margin-bottom: 24px;
}
#infoForum, #detailForum{
	border-bottom: solid 1.6px #DCDCDC;
}
.medium-black{
	color: #3B3B3B;
	font-size: 16px;
}
.medium-bold-black{
	color: #3B3B3B;
	font-size: 20px;
	font-weight: bold;
}
.verysmall-black{
	color: #3B3B3B;
	font-size: 14px;
}
.verysmall-bold-black{
	color: #3B3B3B;
	font-size: 14px;
	font-weight: bold;;
}
.small-bold-black{
	color: #3B3B3B;
	font-size: 16px;
	font-weight: bold;
}
.small-grey{
	color: #848484;
	font-size: 16px;
}
.verysmall-grey{
	color: #848484;
	font-size: 12px;
}
.small-grey-black{
	color: #676767;
	font-size: 16px;
}
#infoForum > p, #infoForum > label, #infoForum > span{
	margin-bottom: 16px;
}
.medium-bold-green{
	color: #00923F;
	font-size: 16px;
	font-weight: bold;
}
.verysmall-green{
	color: #00923F;
	font-size: 12px;
	font-weight: bold;
}
.verysmall-green-default{
	color: #00923F;
	font-size: 12px;
}
.big-bold-black{
	font-size: 22px;
	color: #3B3B3B;
	margin-top: 0;
	margin-bottom: 16px;
	font-weight: bold;
}
#isiForum{
	padding-bottom: 50px;
}
#totalJawaban{
	padding-bottom: 16px;
}
.box-grey{
	background-color: #F2F2F2;
	padding: 16px 20px;
	border-radius: 6px;
	margin-top: 15px;
}
.head-jawaban{
	border-bottom: 1.6px solid #DCDCDC;
	padding-bottom: 8px;
	margin-bottom: 8px;
}
.body-jawaban > textarea{
	margin-bottom: 16px;
}
.footer-jawaban{
	margin-bottom: 10px;
}
.footer-jawaban p {
	margin-bottom: 4px;
}
.btn-green{
	background-color: #00923F;
	border: 1.6px solid #00923F;
	border-radius: 10px;
	color: #FFFFFF;
	min-width: 110px;
}
.btn-transparent-green{
	background-color: transparent;
	border: 1.6px solid #00923F;
	color: #00923F;
	border-radius: 10px;
	min-width: 110px;
}
.btn-transparent-green:hover, .btn-transparent-green:focus{
	background-color: transparent;
	color: #00923F;
}
#kirimJawaban button[type="submit"]{
	width: 110px;
}
input[type="file"]::-webkit-file-upload-button{
	background-color: #FFFFFF;
	color: #0099FF;
	width: 150px;
	height: 42px;
	border-radius: 10px;
	border: 1px solid rgba(89, 96, 102, 0.3);
	font-weight: 500;
	font-size: 14px;
	font-style: normal !important;
	cursor: pointer;
}
input[type="file"]{
	color: #BBBBBB;
	font-size: 14px;
	font-style: italic;
	cursor: pointer;
}
#listForum{
	padding: 24px 32px;
}
#listForum button{
	font-size: 12px;
	width: 100px;
	border-radius: 10px;
}
.box-list-forum{
	position: relative;
	cursor: pointer;
	margin-top: 18px;
	border-bottom: 1.6px solid #DCDCDC;
}
.box-list-forum:hover{
	opacity: 0.8;
}
.box-list-forum.active{
	border-bottom: 1.6px solid #00923F;
}
.box-list-forum > label{
	margin: 0;
}
.box-list-forum > p {
	margin-bottom: 12px;
}
.box-list-forum > i{
	position: absolute;
	right: 0;
	font-size: 24px;
	top: 30%;
	color: #848484;
}
#listForum .pagination{
	margin-top: 40px;
}
.pagination .page-link{
	border-radius: 4px;
	border-color: #E8E9EC;
	width: 35px;
	height: 35px;
	font-size: 14px;
	color: #4D4F5C !important;
	text-align: center;
	vertical-align: middle;
	margin-left: 4px;
	margin-right: 4px;
	padding: 6px 8px;
}
.pagination .page-item.active .page-link{
	color: #FFFFFF !important;
	background-color: #00923F;
	border: 1px solid #00923F;
}
#modalForum .form-modal .form-control{
	font-size: 14px !important;
}
#modalForum .form-modal .form-control::placeholder{
	color: #D5D5D5;
	font-size: 14px;
}
#modalForum button{
	margin-left: 20px;
	font-size: 14px;
	margin-top: 30px;
}
.box-list-forum > p.medium-black{
	margin-right: 20px;
}
#pentashihan .content-breadcrumb{
	padding-left: 0;
	padding-right: 0;
}
#formPenerbit{
	border-bottom: 1.6px solid #DCDCDC;
	padding: 0 32px 24px;
}
#formPenerbit h4{
	margin-bottom: 16px;
}
#formPenerbit h5{
	margin-bottom: 32px;
}
#formPenerbit p{
	margin-bottom: 16px;
}
#formPenerbit .select2-container--default .select2-selection--single{
	border: 1px solid #ced4da !important;
}
#formPenerbit .select2, #formPenerbit input{
	font-size: 14px !important;
}
#formPenerbit .select2-container--default .select2-selection--single .select2-selection__rendered[title="Pilih Jenis Lembaga"]{
	color: #D5D5D5;
}
#legalitas,#dataNaskah,#infoDokumen{
	padding: 24px 16px;
}
#legalitas h4{
	margin-bottom: 16px;
}
#legalitas p{
	margin-bottom: 6px;
}
#legalitas .box-file{
	margin-bottom: 20px;
}
.box-thumbnail{
	width: 100%;
	padding: 24px;
	border: 1px solid rgba(112, 112, 112, 0.25);
	border-radius: 10px;
}
.hr-grey{
	border: 1px solid #DCDCDC;
	width: 100%;
}
.small-blue, .small-bold-blue{
	font-size: 16px;
	color: #0099FF;
}
.small-green, .small-bold-green{
	font-size: 16px;
	color: #00923F;
}
.small-bold-blue, .small-bold-green{
	font-weight: 500;
}
#listRegulasi .small-bold-green:hover{
	color: #0099FF;
}
#contentInformation{
	z-index: 2;
	margin-top: 20px;
}
#contentInformation > p{
	background-color: #0099FF;
	font-size: 14px;
	color: #FFFFFF;
	padding: 7px;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
}
.box-form label{
	margin-bottom: 2px;
	margin-top: 16px;
}
#paginateBox{
	margin-top: 50px;
	text-align: center;
}
.custom-tooltip{
	font-size: 14px;
	margin-left: 5px;
}
.form-check-label{
	font-size: 14px;
}
.relative{
	position: relative;
}
.btn-remove,.btn-remove:focus,.btn-remove:hover{
	position: absolute;
	background-color: transparent;
	top: 2px;
	right: 18px;
	border:none;
}











.thumbnail {
	border-radius: 5px;
	position: relative;
	width: 75px;
	height: 75px;
	overflow: hidden;
	margin: 0 10px;
}
.thumbnail img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
		background: linear-gradient(0deg, hsla(0,0%,0%,.5) 0%, hsla(0,0%,100%,.5) 100%) no-repeat left ,
	    white   linear-gradient(180deg, hsla(0,0%,0%,.5) 0%, hsla(0,0%,100%,.5) 100%) no-repeat right;
	    background-size:95% 100%, 5% 100%;
}
.thumbnail img.portrait {
	width: 100%;
	height: auto;
}

/*AIzaSyBaGCR_z2H314VpWMhrf_LON9cynxh72ak*/